# OUTPUT TRACKING ALGORITHM


---
Author: **Helvecio B. Leal Neto** & **Alan J. P. Calheiros**\
**National Institute for Space Research - Brazil - (2021)**



## About

This notebook is designed for viewing the tracking results of the storm/precipitation tracking algorithm beta version. The results presented here refer to the tracking of clusters via radar data provided by the GoAmazon project, for the following periods:

**Start**: 2014-09-07 00:00:00

**End**: 2014-09-09 00:00:00

The tracking threshold is:

* **20** dBZ
* inner 1 - ***35*** dBZ
* inner 2 - ***40*** dBZ

Minimum size threshold per cluster:

* **30** pixels
* inner 1 - ***15*** pixels
* inner 2 - ***10*** pixels

## Dependencies libraries

In [101]:
%load_ext autoreload
%autoreload 2

import sys
sys.path.append("../")
import stanalyzer as sta

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [102]:
track_frame = sta.read_file('../tracks/S201409070000_E201409100000_VDBZc_T20_L5.pkl')

In [103]:
track_frame.head()

                     timestamp  time  uid  id_t       lat        lon     p0  \
Fam_0  0   2014-09-07 00:00:00     0    0     2 -1.423926 -60.710175  216.0
       10  2014-09-07 00:12:00     1    0     3 -1.495779 -60.728176  212.0
Fam_1  1   2014-09-07 00:00:00     0    1     5 -2.358212 -60.602760  164.0
       11  2014-09-07 00:12:00     1    1     4 -2.412090 -60.638752  161.0
Fam_10 20  2014-09-07 00:24:00     2   10     8 -1.675547 -60.512596  202.0

             p1  size_20  mean_ref_20  ...  status          delta_t  \
Fam_0  0   80.0     66.0    35.540233  ...     NEW  0 days 00:00:00
       10  79.0     34.0    26.850009  ...    CONT  0 days 00:12:00
Fam_1  1   86.0     75.0    39.058735  ...     NEW  0 days 00:00:00
       11  84.0     41.0    37.308171  ...    CONT  0 days 00:12:00
Fam_10 20  91.0     82.0    38.440909  ...    CONT  0 days 00:00:00

                                       nc_file  \
Fam_0  0   data/sbmn_cappi_20140907_0000.nc.gz
       10  data/sbmn_cappi_20140907_0012.nc.gz
Fam_1  1   data/sbmn_cappi_20140907_0000.nc.gz
       11  data/sbmn_cappi_20140907_0012.nc.gz
Fam_10 20  data/sbmn_cappi_20140907_0024.nc.gz

                               cluster_file  dsize_20  dmean_ref_20  \
Fam_0  0   clusters/20140907_000000_clu.npz       NaN           NaN
       10  clusters/20140907_001200_clu.npz     -32.0     -8.690224
Fam_1  1   clusters/20140907_000000_clu.npz       NaN           NaN
       11  clusters/20140907_001200_clu.npz     -34.0     -1.750565
Fam_10 20  clusters/20140907_002400_clu.npz       NaN           NaN

           dtotal_size_35  dmean_total_ref_35  dtotal_size_40  \
Fam_0  0              NaN                 NaN             NaN
       10             NaN                 NaN             NaN
Fam_1  1              NaN                 NaN             NaN
       11            -9.0           -2.209392            -3.0
Fam_10 20             NaN                 NaN             NaN

           dmean_total_ref_40
Fam_0  0                  NaN
       10                 NaN
Fam_1  1                  NaN
       11           -3.066082
Fam_10 20                 NaN

[5 rows x 35 columns]

In [104]:
## This function returns the duration of events
lifes = sta.life_cicle(track_frame,sort=True)
lifes

     uid  times               begin                 end        duration
56   182     51 2014-09-08 14:24:00 2014-09-09 00:24:00 0 days 10:00:00
288   68     31 2014-09-07 17:24:00 2014-09-07 23:24:00 0 days 06:00:00
23    13     30 2014-09-07 01:12:00 2014-09-07 07:00:00 0 days 05:48:00
244  414     28 2014-09-08 06:36:00 2014-09-08 12:00:00 0 days 05:24:00
57   183     27 2014-09-08 14:36:00 2014-09-08 19:48:00 0 days 05:12:00
..   ...    ...                 ...                 ...             ...
197  367      2 2014-09-09 10:12:00 2014-09-09 10:24:00 0 days 00:12:00
198  368      2 2014-09-09 10:24:00 2014-09-09 10:36:00 0 days 00:12:00
199  369      2 2014-09-09 10:36:00 2014-09-09 10:48:00 0 days 00:12:00
201  370      2 2014-09-09 10:48:00 2014-09-09 11:00:00 0 days 00:12:00
309   98      2 2014-09-07 19:00:00 2014-09-07 19:12:00 0 days 00:12:00

[310 rows x 5 columns]

In [125]:
### Filter by time
TIME_MAX = 2
UNIT = 'h'

In [132]:
sta.time_filter(track_frame,TIME_MAX,UNIT)

                       timestamp  time  uid  id_t       lat        lon     p0  \
Fam_111 569  2014-09-07 19:24:00    97  111    28 -2.951239 -60.225281  131.0
        705  2014-09-07 21:12:00   106  111    14 -3.490241 -60.153404  101.0
        759  2014-09-07 22:24:00   112  111    15 -3.885506 -60.099453   79.0
        752  2014-09-07 22:12:00   111  111    14 -3.831603 -60.135460   82.0
        745  2014-09-07 22:00:00   110  111    16 -3.741771 -60.135445   87.0
...                          ...   ...  ...   ...       ...        ...    ...
Fam_7   63   2014-09-07 01:24:00     7    7    33 -3.669655 -59.271290   91.0
        72   2014-09-07 01:36:00     8    7    39 -3.741518 -59.271236   87.0
        79   2014-09-07 01:48:00     9    7    38 -3.795416 -59.271194   84.0
        90   2014-09-07 02:00:00    10    7    32 -3.867279 -59.271137   80.0
        98   2014-09-07 02:12:00    11    7    23 -3.939129 -59.253071   76.0

                p1  size_20  mean_ref_20  ...  status          delta_t  \
Fam_111 569  107.0    139.0    44.816198  ...    MERG  0 days 00:00:00
        705  111.0     83.0    27.917287  ...    CONT  0 days 01:48:00
        759  114.0     72.0    27.565439  ...    CONT  0 days 03:00:00
        752  112.0     90.0    30.247273  ...    CONT  0 days 02:48:00
        745  112.0    109.0    30.585246  ...    CONT  0 days 02:36:00
...            ...      ...          ...  ...     ...              ...
Fam_7   63   160.0     83.0    38.012595  ...    CONT  0 days 01:24:00
        72   160.0     88.0    38.334100  ...    CONT  0 days 01:36:00
        79   160.0     73.0    39.062612  ...    CONT  0 days 01:48:00
        90   160.0     59.0    34.525619  ...    CONT  0 days 02:00:00
        98   161.0     34.0    27.508981  ...    CONT  0 days 02:12:00

                                         nc_file  \
Fam_111 569  data/sbmn_cappi_20140907_1924.nc.gz
        705  data/sbmn_cappi_20140907_2112.nc.gz
        759  data/sbmn_cappi_20140907_2224.nc.gz
        752  data/sbmn_cappi_20140907_2212.nc.gz
        745  data/sbmn_cappi_20140907_2200.nc.gz
...                                          ...
Fam_7   63   data/sbmn_cappi_20140907_0124.nc.gz
        72   data/sbmn_cappi_20140907_0136.nc.gz
        79   data/sbmn_cappi_20140907_0148.nc.gz
        90   data/sbmn_cappi_20140907_0200.nc.gz
        98   data/sbmn_cappi_20140907_0212.nc.gz

                                 cluster_file  dsize_20  dmean_ref_20  \
Fam_111 569  clusters/20140907_192400_clu.npz       NaN           NaN
        705  clusters/20140907_211200_clu.npz     -56.0    -16.898911
        759  clusters/20140907_222400_clu.npz     -11.0     -0.351849
        752  clusters/20140907_221200_clu.npz      18.0      2.681835
        745  clusters/20140907_220000_clu.npz      19.0      0.337973
...                                       ...       ...           ...
Fam_7   63   clusters/20140907_012400_clu.npz     -35.0      1.038237
        72   clusters/20140907_013600_clu.npz       5.0      0.321505
        79   clusters/20140907_014800_clu.npz     -15.0      0.728512
        90   clusters/20140907_020000_clu.npz     -14.0     -4.536994
        98   clusters/20140907_021200_clu.npz     -25.0     -7.016637

             dtotal_size_35  dmean_total_ref_35  dtotal_size_40  \
Fam_111 569             NaN                 NaN             NaN
        705             NaN                 NaN             NaN
        759             NaN                 NaN             NaN
        752             NaN                 NaN             NaN
        745             2.0            0.235984             NaN
...                     ...                 ...             ...
Fam_7   63             -4.0            0.139794             4.0
        72              1.0            0.506997             2.0
        79             -8.0            1.297569            -8.0
        90            -14.0           -2.463627            -6.0
        98              NaN                 NaN             NaN

             dmean_total_ref_40
Fam_111 569                 NaN
        705                 NaN
        759                 NaN
        752                 NaN
        745                 NaN
...                         ...
Fam_7   63            -1.206446
        72             0.563979
        79             2.060838
        90            -3.477278
        98                  NaN

[786 rows x 35 columns]

In [64]:
track_frame.query('uid == @uids')

                      timestamp  time  uid  id_t       lat        lon     p0  \
Fam_13 54   2014-09-07 01:12:00     6   13    33 -2.717205 -58.948200  144.0
       64   2014-09-07 01:24:00     7   13    41 -2.771084 -58.930164  141.0
       196  2014-09-07 06:48:00    34   13    16 -4.190234 -58.838547   62.0
       194  2014-09-07 06:36:00    33   13    12 -4.190299 -58.892586   62.0
       191  2014-09-07 06:24:00    32   13    18 -4.154429 -58.946671   64.0
...                         ...   ...  ...   ...       ...        ...    ...
Fam_68 481  2014-09-07 18:24:00    92   68    28 -3.831483 -60.495583   82.0
       462  2014-09-07 18:12:00    91   68    27 -3.777575 -60.513557   85.0
       444  2014-09-07 18:00:00    90   68    22 -3.705692 -60.549522   89.0
       428  2014-09-07 17:48:00    89   68    24 -3.651772 -60.585495   92.0
       787  2014-09-07 23:24:00   117   68    15 -5.017199 -59.414379   16.0

               p1  size_20  mean_ref_20  ...  status          delta_t  \
Fam_13 54   178.0     59.0    32.168753  ...    CONT  0 days 00:00:00
       64   179.0     73.0    31.031756  ...    CONT  0 days 00:12:00
       196  184.0    109.0    24.118583  ...    CONT  0 days 05:36:00
       194  181.0    130.0    23.958740  ...    CONT  0 days 05:24:00
       191  178.0    204.0    27.140319  ...    SPLT  0 days 05:12:00
...           ...      ...          ...  ...     ...              ...
Fam_68 481   92.0    111.0    42.365179  ...    CONT  0 days 01:00:00
       462   91.0     95.0    40.460734  ...    CONT  0 days 00:48:00
       444   89.0    101.0    36.986444  ...    CONT  0 days 00:36:00
       428   87.0     96.0    36.455843  ...    CONT  0 days 00:24:00
       787  152.0     62.0    27.323885  ...    CONT  0 days 06:00:00

                                        nc_file  \
Fam_13 54   data/sbmn_cappi_20140907_0112.nc.gz
       64   data/sbmn_cappi_20140907_0124.nc.gz
       196  data/sbmn_cappi_20140907_0648.nc.gz
       194  data/sbmn_cappi_20140907_0636.nc.gz
       191  data/sbmn_cappi_20140907_0624.nc.gz
...                                         ...
Fam_68 481  data/sbmn_cappi_20140907_1824.nc.gz
       462  data/sbmn_cappi_20140907_1812.nc.gz
       444  data/sbmn_cappi_20140907_1800.nc.gz
       428  data/sbmn_cappi_20140907_1748.nc.gz
       787  data/sbmn_cappi_20140907_2324.nc.gz

                                cluster_file  dsize_20  dmean_ref_20  \
Fam_13 54   clusters/20140907_011200_clu.npz       NaN           NaN
       64   clusters/20140907_012400_clu.npz      14.0     -1.136997
       196  clusters/20140907_064800_clu.npz      36.0     -6.913173
       194  clusters/20140907_063600_clu.npz      21.0     -0.159843
       191  clusters/20140907_062400_clu.npz      74.0      3.181579
...                                      ...       ...           ...
Fam_68 481  clusters/20140907_182400_clu.npz      -5.0     -2.618542
       462  clusters/20140907_181200_clu.npz     -16.0     -1.904445
       444  clusters/20140907_180000_clu.npz       6.0     -3.474290
       428  clusters/20140907_174800_clu.npz      -5.0     -0.530601
       787  clusters/20140907_232400_clu.npz     -34.0     -9.131958

            dtotal_size_35  dmean_total_ref_35  dtotal_size_40  \
Fam_13 54              NaN                 NaN             NaN
       64             -4.0           -0.045397             NaN
       196             NaN                 NaN             NaN
       194             NaN                 NaN             NaN
       191             NaN                 NaN             NaN
...                    ...                 ...             ...
Fam_68 481           -10.0           -2.031469            -8.0
       462           -13.0           -1.228495           -21.0
       444            -4.0           -3.069949            -6.0
       428            -4.0           -0.062904            -2.0
       787             NaN                 NaN             NaN

            dmean_total_ref_40
Fam_13 54                  NaN
       64                  NaN
       196                 NaN
       194                 NaN
       191                 NaN
...                        ...
Fam_68 481           -2.100382
       462            0.405583
       444           -2.658067
       428           -0.014482
       787                 NaN

[112 rows x 35 columns]

In [ ]:
import pandas as pd

In [ ]:
### PATH
PATH_FILE = '../tracks/S201409070000_E201409100000_VDBZc_T20_L5.pkl'

In [ ]:
### Read tracking file
df = sta.read_file(PATH_FILE)
df.head()

In [ ]:
sta.life_cicle()

In [ ]:
def life_cicle(dframe):
    
    ## Group by uid
    grouped_frame,life_time,uid_,start_,end_ = [],[],[],[],[]
    for group in dframe.groupby(pd.Grouper(key="uid")):
        grouped_frame.append(group)

    ## Calculate by initial time and final time
    for f in range(len(grouped_frame)):
        life_time.append(len(fam_iop1_all_true[f][1]))
        uid_.append(fam_iop1_all_true[f][1].uid.values[0])
        start_.append(fam_iop1_all_true[f][1].timestamp.values[0]),end_.append(fam_iop1_all_true[f][1].timestamp.values[-1])

    ## Create cicle life dataframe
    cicle_life = pd.DataFrame(list(zip(uid_, life_time,start_,end_)), 
                   columns =['uid', 'times','begin','end'])
    ## Calculate duration
    cicle_life['duration'] = pd.to_timedelta(pd.to_datetime(cicle_life['end']) - pd.to_datetime(cicle_life['begin']))
    return cicle_life

In [ ]:
life_cicle(df)

In [ ]:
# Dataframe library
import pandas as pd
# Numerical Python library
import numpy as np
# netCDF4 library
import netCDF4
# Import gzip to open netCDF
import gzip
# Visualization library
import matplotlib.pyplot as plt

## Variables

**Fam_Nº**-> Refers to the number of the Tracked Family.
<br>

**timestamp** ->A digital record of the time of occurrence of a particular event.
<br>
**time** -> Refers to the tracking time in the algorithm.
<br>
**uid** -> Unique IDentifier, it is used to generate the families.
<br>
**id_t** -> Referring cluster identifier at the time of tracking occurrence. From the DBSCAN clustering algorithm.
<br>
**lat** -> Refers latitude centroid, taken from the reference matrix of the original nc files.
<br>
**lon** -> Refers longitude centroid, taken from the reference matrix of the original nc files.
<br>
**p0** -> The first coordinate point of centroid in matrix (clusters or nc_file): (p0,p1)=(x,y)=(lon,lat).
<br>
**p1** -> The second coordinate point of centroid in matrix (clusters or nc_file): (p0,p1)=(x,y)=(lon,lat).
<br>
**size_%THRESHOLD** -> Total number of Pixels in the main cluster. Each point depends on the sensor's spatial resolution (pixel size): RADAR 2x2km.
<br>
**mean_ref_%THRESHOLD** -> Averaged reflectivity of the cluster. Value in dBZ.
<br>
**max_ref_%THRESHOLD** -> Max reflectivity of the cluster. Value in dBZ.
<br>
**angle_%THRESHOLD_orig** -> Original displacement angle of the cluster at the current time.
<br>
**angle_%THRESHOLD_cor** -> Corrected displacement angle of the cluster at the current time. 
<br>
**vel_%THRESHOLD_orig** -> Original displacement velocity of the cluster at the current time in kilometers per hour (km/h).
<br>
**vel_%THRESHOLD_cor** -> Corrected displacement velocity of the cluster at the current time in kilometers per hour (km/h).
<br>
**mean_total_ref_%THRESHOLD** -> Average reflectivity of the inner clusters by threshold (Value in dBZ).
<br>
**total_size_%THRESHOLD** -> Total size of inner clusters by threshold (number of pixels).
<br>
**n_cluster_%THRESHOLD** -> Total number of inner clusters by Threshold.
<br>
**avg_angle_%THRESHOLD** -> Averaged angle for the inner cluster by threshold (Value in degree).
<br>
**avg_vel_%THRESHOLD** -> Averaged velocity for inner clusters by threshold (Value in km/h).
<br>
**status** -> Status of occurrence, type: NEW-> New cluster; CONT-> Continous cluster; SPLT -> Splitted cluster; MERG -> Merged Cluster.
<br>
**delta_t** -> Time interval for cluster life cycle.
<br>
**nc_file** -> Path of netCDF file.
<br>
**cluster_file** -> Path of cluster file (From DBSCAN).
<br>
**dsize_%THRESHOLD** -> Difference between the sizes of two consecutive clusters (in Pixel).
<br>
**dmean_ref_%THRESHOLD** -> Difference between the mean reflectivities of two consecutive clusters for main threshold (in dBZ).
<br>
**dmean_total_ref_%THRESHOLD** -> Difference between the mean reflectivities of all clusters between two consecutive times for an inner threshold (in dBZ).
<br>
**dtotal_size_%THRESHOLD** -> Difference between the total size (in pixel) of all clusters between two consecutive times for an inner threshold (values in pixel).

## Read tracking file

Tracking DataFrame.

In [ ]:
fam_tracking = pd.read_pickle("./S201409070000_E201409100000_VDBZc_T20_L5.pkl")
fam_tracking

### Example how to select a FAM by uid

In [ ]:
uid = 97
selected_fam = fam_tracking.query('uid == @uid')
selected_fam

## Example how to select a cluster in the family

In [ ]:
line = 0 #first line 

selected_line = selected_fam.iloc[[line]]
selected_line

## Example how to open the cluster file and the original data to extract reflectivity values

In [ ]:
## OPEN CLUSTERS
def open_cluster(path):
    try:
        cluster = np.load(path['cluster_file'].values[0])['arr_0']
        cluster[cluster == 0] = np.NAN
        return cluster
    except:
        print('File not found!')

In [ ]:
selected_line

In [ ]:
cluster_matrix_all = open_cluster(selected_line)
print('Original dimensions of cluster->',cluster_matrix_all.shape)

THRESHOLD_LEVEL = 0 #to select the main threshold (ex: 0-20dBZ,1-35dBZ,2-40dBZ)
cluster_matrix = cluster_matrix_all[:,:,THRESHOLD_LEVEL]
print('Selected dimensions of cluster->',cluster_matrix.shape)

In [ ]:
### OPEN NETCDF
def open_file(file_path):
    VAR_NAME = 'DBZc'
    LEVEL = 5 #2.5km height
    THRESHOLDS = [20,35,40] #dBZ
    with gzip.open(file_path['nc_file'].values[0]) as gz:
        with netCDF4.Dataset('dummy', mode='r', memory=gz.read()) as nc:
            data = nc.variables[VAR_NAME][0][LEVEL][:].filled()
            data[data == -9999.] = np.NAN
    data[data < THRESHOLDS[0]] = np.nan
    return data

In [ ]:
nc_matrix = open_file(selected_line)
print('NetCDF Max/Min values (thresholded):\n',np.nanmax(nc_matrix),np.nanmin(nc_matrix))

In [ ]:
fig, (ax,ax1) = plt.subplots(1,2, figsize=(15,6))

ax.imshow(nc_matrix)
ax1.imshow(cluster_matrix);
ax.set_title('Original file')
ax1.set_title('Cluster file');

## Extracting reflectivities from the selected cluster

To extract the reflectivity values of an individual cluster, you will need to choose the tracking 'id_t', this should be done as follows:

Visualization of individual line.

In [ ]:
selected_line

In [ ]:
### This line shows that id_t is equal to 20. 
selected_id_t = selected_line.id_t.values[0]

### Get XY coordinates from cluster matrix
x,y = np.where(cluster_matrix == selected_id_t)

### Get reflectivities values from nc_file cluster
dbz_list = nc_matrix[x,y]

In [ ]:
print('List with reflectivity values of an individual cluster.\n',dbz_list)

### Cluster location view

In [ ]:
fig, (ax,ax1) = plt.subplots(1,2, figsize=(15,6))
ax.imshow(nc_matrix)
ax1.imshow(cluster_matrix);
ax.set_title('Original file')
ax1.set_title('Cluster file');

ax.scatter(selected_line.p0,selected_line.p1,marker='x',color='r',s=100)
ax1.scatter(selected_line.p0,selected_line.p1,marker='x',color='r',s=100)